// .hero {
//     position: relative;
//     z-index: 10
// }

// .hero::before {
//     content: '';
//     position: absolute;
//     width: 280px;
//     height: 280px;
//     top: 6px;
//     left: 50%;
//     transform: translateX(-140px);
//     background: url('https://messiahhh.github.io/blog/logo.png');
//     background-size: 100% 100%;
//     filter: blur(4px) brightness(80%) opacity(0.8);
//     z-index: -1; 
// }

// .hero img {
//     z-index: 20;
//     transition: all .6s;
// }

// .hero img:hover {
//     transform: rotateY(180deg)    
// }
